name: Python application

on: push
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build and push Docker image
      env:
            DOCKER_PASSWORD: ${{ secrets.DOCKERPW }}
      
      run: |
            echo "$DOCKER_PASSWORD" | docker login -u "raisanjivj6693" --password-stdin
            docker image build -t raisanjivj6693/testbostonhouseprice:latest .
            docker push raisanjivj6693/testbostonhouseprice:latest
